body {
    margin: 0;
    padding: 0;
    background: url("assets/images/background.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    position: relative;
    text-align: center;
}

.logo {
    width: 150px;
}

.game-board {
    width: 300px;
}

.get-signal-btn img, .back-btn img {
    width: 200px;
}
